<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body class="container-fluid">
    <nav class="navbar navbar-dark">
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a href="#" class="nav-link">Fil de Photos</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Public</a></li>
          <li class="nav-item btn-group float-xs-right">
              <button id="zoomout" class="btn btn-secondary">-</button>
              <button id="zoomin" class="btn btn-secondary">+</button>
          </li>
          <li class="nav-item float-xs-right"><button id="fullscreen" class="btn btn-secondary">Plein écran</button></li>
        </ul>
    </nav>
    <section id="photo-view">
        <ul class="photolist">
            <photo v-for="item in photos" v-bind:photo="item"></photo>
        </ul>
    </section>
        <form method="post" enctype="multipart/form-data" action="photos">
            <input type="file" accept="image/*" name="file" id="photo-input">
            <input type="submit" name="Téléverser">
        </form>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <script src="js/tus.min.js"></script>
    <script src="js/flex-images.min.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script src="js/vue.min.js"></script>
    <!-- <script src="js/app.js"></script> -->
    <script type="text/javascript">
        var rowHeight = 150;
        var pathToApp = '/' + window.location.pathname.substring(1);
        var socket = io(window.location.origin, {path: pathToApp + 'messages'});


        document.addEventListener("DOMContentLoaded", function() {

            var fsBtn = document.getElementById('fullscreen');
            fsBtn.addEventListener('click', toggleFullScreen);

            var zoomInBtn = document.getElementById('zoomin');
            var zoomOutBtn = document.getElementById('zoomout');

            zoomInBtn.addEventListener('click', zoomIn, false);
            zoomOutBtn.addEventListener('click', zoomOut, false);

            Vue.config.silent = false;

            Vue.component('photo', {
                props: ['photo'],
                template: '<li class="photo" :data-w="photo.size.thumb.width" :data-h="photo.size.thumb.height"><a :href="photo.src" :data-big="photo.src" class="lightbox"><img :src="thumb" :alt="photo.title"></a><button v-on:click="deletePhoto">X</button></li>',
                computed: {
                    thumb: function() {
                        return `${window.location}/photos/${this['photo'].id}/thumb.jpg`
                    }
                },
                methods: {
                    deletePhoto: function(event) {
                        var tof = this.photo;
                        if (confirm(`Delete photo ${this.photo.title}?`)) {
                            fetch(window.location + "photos/" + this.photo.id, {
                                method: 'DELETE',
                                headers: headers,
                                mode: 'cors',
                                cache: 'default',
                                credentials: 'include'
                            }).then(
                                function() {
                                    var index = vm.photos.findIndex(function(el) {return el.id == tof.id});
                                    vm.photos.splice(index, 1);
                                });
                            }
                        }
                    }
                }
            );

            var vm = new Vue({
                el: '#photo-view',
                data: { photos: [] },
                updated: function() {
                    new flexImages({selector: ".photolist", container: ".photo", rowHeight: rowHeight});
                    console.log("updated fired");
                }
            });

            var headers = new Headers();
            headers.append("Accept", "application/json");
            var request = {
                method: 'GET',
                headers: headers,
                mode: 'cors',
                cache: 'default',
                credentials: 'include'
            };

            fetch(window.location, request).then(function(response) {
                response.json().then(function(json) {
                    vm.photos = json;
                });
            });

            socket.on('new photo', function(data){
                var index = vm.photos.findIndex(function(el) {
                    return data.date > el.date;
                });
                vm.photos.splice(index, 0, data);
            });

        });

        function toggleFullScreen() {
            if (!document.mozFullScreenElement) {
                    document.documentElement.mozRequestFullScreen();
            } else {
                if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                }
            }
        }

        function zoomIn() {
            rowHeight = rowHeight > 300 ? rowHeight : rowHeight * 1.20;
            new flexImages({selector: ".photolist", container: ".photo", rowHeight: rowHeight});
        }

        function zoomOut() {
            rowHeight = rowHeight < 50 ? rowHeight : rowHeight * 0.80;
            new flexImages({selector: ".photolist", container: ".photo", rowHeight: rowHeight});
        }


        var droptarget = document.documentElement;
        droptarget.addEventListener('dragenter', drag, false);
        droptarget.addEventListener('dragover', drag, false);
        droptarget.addEventListener('drop', dropFile, false);
        droptarget.addEventListener('dragleave', unDrag, false);

        function drag(e) {
            e.stopPropagation();
            e.preventDefault();

            highLightTarget(e.currentTarget);
        }

        function unDrag(e) {
            e.stopPropagation();
            e.preventDefault();

            downLightTarget(e.currentTarget);
        }

        function dropFile(e) {
            e.stopPropagation();
            e.preventDefault();

            var dt = e.dataTransfer;
            var files = dt.files;

            downLightTarget(e.currentTarget);

            batchUploads(files);
        }

        function highLightTarget(target) {
            target.classList.add("dragover");
        }

        function downLightTarget(target) {
            target.classList.remove("dragover");
        }

        var input = document.getElementById("photo-input");
        input.addEventListener("change", function(e) {
            // Get the selected file from the input element
            var file = e.target.files[0];
            uploadFile(file);

        });

        var batchUploads = function(files) {
            for(var i in files) {
                uploadFile(files[i]);
            }
        }

        var uploadFile = function(file) {
            // Create a new tus upload
            var upload = new tus.Upload(file, {
                endpoint: window.location + 'uploads/',
                retryDelays: [0, 1000, 3000, 5000],
                metadata: {fileName: file.name},
                onError: function(error) {
                    console.log("Failed because: " + error)
                },
                onProgress: function(bytesUploaded, bytesTotal) {
                    var percentage = (bytesUploaded / bytesTotal * 100).toFixed(2)
                },
                onSuccess: function() {
                    console.log("Download %s", upload.file.name)
                }
            })

            // Start the upload
            upload.start()
        }





    </script>
  </body>
</html>
